.hot-chart-pie-left-container {
  height: 380px;
  width: 48%;
  background: #F9F9FB;
}

.hot-chart-pie-left-title {
  padding: 20px 0 20px 2.5%;
}

.hot-chart-pie-left-title h4 {
  border-left: 2px solid #EEBD08;
  padding-left: 10px;
}

.hot-chart-pie-left-content {
  width: 90%;
  height: 280px;
  margin: 0 auto;
}
