.login-box {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  position: relative;
  background: url("../../images/login-bg.jpg") no-repeat;
  background-size: cover;
}

.login-content {
  width: 580px;
  height: 390px;
  background-color: #ffffff;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.login-form-con{
  padding: 30px 70px 0;
}
.login-title{
  line-height: 40px;
  height: 40px;
  width: 100%;
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  color:rgba(19,34,41,.9)
}

.login-content .login-form {
  width: 100%;
}
.ant-form-item.small-item{
  float:right;
  width:83%;
}
.login-content .login-form-forgot {
  float: right;
}
.login-content .login-form-button {
  float:right;
  width: 40%;
  margin-top:20px;
  font-size:16px;
  text-shadow:none;
  box-shadow:none;
  border:none;
  background:rgba(252,192,88,1);
}
.login-content .back-btn{
  float:left;
  width:40%;
  margin-top:20px;
  font-size:16px;
  color:rgba(255,255,255,1);
  text-shadow:none;
  box-shadow:none;
  border:none;
  background:rgba(252,192,88,1);
}
.login-content .ant-form-item-required::before{
  content:'';
}
.login-content .ant-form-item-label > label::after{
  content:'*';
  color:rgba(255,52,71,1);
  margin:0px 16px 0 2px;
  top:2px;
}
.login-content .ant-form-item-required{
  font-size:16px;
  text-align:left;
}
.login-content .ant-input{
  height:36px;
  line-height:36px;
}
.login-guest-tips{
  height:24px;
  padding:0 20px 20px;
  overflow:hidden;
  background:rgba(255,255,255,1);
}
.login-guest-tips img{
  position:absolute;
  bottom:8px;
  left:50%;
  width:17px;
  height:14px;
}
.login-guest-tips:hover{
  height:auto;
}
.login-guest-tips:hover img{
  display:none;
}
.login-guest-tips p{
  line-height:24px;
}
