.topic-content {
  width: 1152px;
  margin: 0 auto;
  padding-top: 50px;
  min-height: 500px;
}

.topic-content-main {
  width: 920px;
  padding-left: 35px;
}

.topic-content-slider {
  width: 230px;
}

.topic-content-topic {
  padding-bottom: 25px;
}

.topic-content-topic span {
  color: #cbd2d8;
  font-size: 19px;
  font-family: Arial;
  font-weight: 500;
}

.topic-content-topic h2 {
  color: #333333;
}

.topic-content-topic li {
  font-size: 16px;
  color: #555555;
}
.topic-menu{
  width: 256px;
  border-top: 2px solid #0572B8;
  border-bottom: 2px solid #0572B8
}
/*.topic-menu .ant-menu{*/
  /*width:256px !important;*/
/*}*/
/*.topic-menu .ant-menu-submenu {*/
  /*width:230px;*/
/*}*/
.topic-content-slider .menu {
  width: 230px;
  border-top: 2px solid #0572B8;
  border-bottom: 2px solid #0572B8
}

.topic-content-slider .ant-menu-item {
  border-bottom: 1px dashed #F0F0F0;
  height: 52px;
  width: 100%;
}

.topic-content-query-select .query-top .anticon svg{
  color:#D1D1D1;
  margin-right:15px;
}
.topic-content-none{
  text-align: center;
  line-height: 10;
  font-size: 16px;
}
