.home-subject {
  width: 100%;
  min-height: 455px;
  background: #ffffff;
}

.home-subject-title {
  padding: 40px 0 30px;
}

.home-subject-top {
  font-size: 20px;
  color: #232323;
}

.home-subject-top > span {
  margin: 0 5px;
}
.home-subject-title > span {
  color: #959B9F;
}
.home-subject-content{
  margin:0 10px;
}

.home-subject-content{
  width:1200px;
  margin:0 auto;
}
.home-subject-content-single{
  width:276px;
  height:272px;
}


.home-subject-content-single:hover>div{
  margin-top: -15px;
  /*cursor:pointer;*/
}
.home-subject-content-single img{
  width: 100%;
  height:184px;
}
.home-subject-content-single .home-subject-content-module{
  /*margin:8px;*/
  margin: 8px 2px;
  height: 72px;
  overflow-x: auto;
}
.home-subject-content-single .home-subject-content-module span{
  width:121px;
  height:32px;
  font-size: 15px;
  border:1px solid rgba(225,225,225,1);
  float:left;
  text-align: center;
  line-height: 32px;
  margin: 2px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  /*! autoprefixer: off */
  -webkit-box-orient: vertical;
}
.home-subject-content-single .home-subject-content-module span>a{
  color:#232323;
}
.home-subject-content-single .home-subject-content-module span:hover {
  color: #ffffff;
  background-color: #107BCE;
  cursor:pointer;
}
.home-subject-content-single .home-subject-content-module span:hover a{
  color: #ffffff;
  cursor:pointer;
}
.home-subject-container{
  position: relative;
  margin: 0 5px;
  border:2px solid rgba(228, 228, 228, 1);
}
.home-subject-container:hover{
  box-shadow:0 15px 30px 0 rgba(0, 0, 0, 0.1);
  /*cursor:pointer;*/
}

.home-subject-container .sub-title{
  position: absolute;
  bottom: 85px;
  color: #fff;
  font-size: 18px;
  width: 100%;
}

.home-subject-more{
  width:1200px;
  font-size: 12px;
  color:#959B9F;
  text-align: right;
  margin: 0 auto;
  line-height: 4;
}
.home-subject-more:hover span{
  color: #E2A558;
  cursor:pointer;
}

.home-subject .box1{height: 400px;background-color: yellow;}
.home-subject .box2{height: 400px;background-color: blue;}
.home-subject .box3{height: 400px;background-color: red;}
.home-subject .slick-list{margin-left: 4%;margin-right: 2%;}
.home-subject .slick-prev {left: 0.5%;z-index: 99999;}
.home-subject .slick-next {right: 0.5%;z-index: 99999;}
.home-subject .slick-prev:before,.slick-next:before {color: #000!important;}

/* Arrows */
.slick-prev,
.slick-next{
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus{
  color: transparent;
  outline: none;
  background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before{
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before{
  opacity: .25;
}

.slick-prev:before,
.slick-next:before{
  font-family: "slick", SimHei;
  font-size: 60px;
  line-height: 1;
  font-weight: bolder;
  opacity: .75;
  color: white;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev{
  left: -30px;
}
[dir='rtl'] .slick-prev{
  right: -30px;
  left: auto;
}
.slick-prev:before{
  content: '<';
  font-weight: bold;
}
[dir='rtl'] .slick-prev:before{
  content: '>';
}

.slick-next{
  right: -35px;
}
[dir='rtl'] .slick-next{
  right: auto;
  left: -35px;
}
.slick-next:before{
  content: '>';
}
[dir='rtl'] .slick-next:before{
  content: '<';
}
