.topic-chart-middle-container {
  height: 380px;
  width: 100%;
  background: #F9F9FB;
  margin: 20px 0;
}

.topic-chart-middle-title {
  padding: 20px 0 20px 2.5%;
}

.topic-chart-middle-title h4 {
  border-left: 2px solid #EEBD08;
  padding-left: 10px;
}

.topic-chart-middle-content {
  width: 80%;
  height: 280px;
  margin: 0 auto;
  background-color:  #F9F9FB;
}
.topic-chart-middle-spin-container{
  line-height: 380px;
  text-align: center;
}
