.hot-content-center{
  width: 100%;
  margin-top: 20px;
  background-color: #F2F3F6;
}

.hot-content-center button{
  width: 33.33%;
  height: 39px;
  cursor: pointer;
  line-height: 39px;
  outline: none;
  border: none;
  border-bottom: 1px solid #F2F3F6;
  background-color: transparent;
}
.subject-content-center button{
  width:20%;
}
.hot-content-center button:nth-of-type(1){
  border-bottom: 1px solid #0572B8;
  color: #0572B8;
}
