.analysis-content-query {
  width: 100%;
}

.analysis-content-query-class {
  padding: 20px 0 0;
}

.analysis-content-query-class > div:nth-of-type(1) button {
  outline: none;
  border: none;
  line-height: 36px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  background-color: transparent;
}

.analysis-content-query-class > div:nth-of-type(1) button:nth-of-type(1) {
  color: #0572B8;
}

.analysis-content-query-class > span {
  color: #ddd;
}

.analysis-content-query-class button i {
  margin-right: 5px;
}

.analysis-content-query-class .ant-input-lg,
.analysis-content-query-class .ant-btn-lg {
  font-size: 14px;
}

.analysis-content-query-date span {
  padding: 0 10px;
  cursor: pointer;
}

.analysis-content-query-date span:nth-of-type(1) {
  color: #0572B8;
}

.analysis-content-query-date span:nth-of-type(2),
.analysis-content-query-date span:nth-of-type(3) {
  border-left: 1px solid #000;
}

.analysis-content-query-select {
  margin: 20px 0;
  border-top: 1px solid #0572B8;
  border-bottom: 1px solid #0572B8;
}

.analysis-content-check-top-sort>div:nth-of-type(1){
  color: #2E2E2E;
  font-size: 16px;
  font-weight: bold;
}

.analysis-content-check-top-result {
  color: #999999;
}

.analysis-content-check-top-sort>div:nth-of-type(2) button{
  outline: none;
  cursor: pointer;
  border: none;
  background-color: #fff;
}

.analysis-content-check-top-sort>div:nth-of-type(2) button i{
  color: #fff;
}

.analysis-content-check-top-sort>div:nth-of-type(2) button:nth-of-type(1),
.analysis-content-check-top-sort>div:nth-of-type(2) button:nth-of-type(1) i{
  color: #0572B8;
}

.analysis-content-check-middle{
  margin-top: 20px;
}

.analysis-content-check-middle-select p{
  margin-left: 20px;
}

.analysis-content-check-middle-select button {
  outline: none;
  cursor: pointer;
  border: none;
  margin-left: 20px;
  color: #999999;
  background-color: #fff;
}

.analysis-content-check-center{
  padding-top: 20px;
  cursor: default;
}
.analysis-content-check-center .noList{
  margin: 50px auto;
  display: block;
}
.analysis-content-check-item-title:hover span{
  color:#0572B8;
}
.analysis-content-check-item-text{
  margin-top: 20px;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /*! autoprefixer: off */
  -webkit-box-orient: vertical;
  font-size: 14px;
}
.analysis-content-check-item-text>a{
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  /*! autoprefixer: off */
  -webkit-box-orient: vertical;
}
.analysis-content-check-item{
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #e5e5e5;
  cursor: default;
}
.analysis-content-check-item:hover{
  background-color: #FBFBFB;
  /*cursor: pointer;*/
}
.analysis-content-check-item .analysis-content-title-link,
.analysis-content-check-item .analysis-content-title-link-details{
  font-size:16px;
  font-weight:bold;
  color:#4D4C4C;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  /*! autoprefixer: off */
  -webkit-box-orient: vertical;
}
.analysis-content-check-item .analysis-content-title-link>a .analysis-title{
  font-weight: bold;
}
.analysis-content-check-item:hover  .analysis-content-title-link{
  color:#0572B8;
}

.analysis-content-check-download button{
  outline: none;
  cursor: pointer;
  border: none;
  background-color: #fff;
}

.analysis-content-check-item-bottom{
  margin-top: 28px;
  color: #999999;
  cursor: default;
}

.analysis-content-check-item-bottom>div:nth-of-type(1) span:nth-of-type(3),
.analysis-content-check-item-bottom>div:nth-of-type(1) span:nth-of-type(5),
.analysis-content-check-item-bottom>div:nth-of-type(1) span:nth-of-type(7){
  margin-left: 20px;
}
.analysis-title-container .analysis-title{
  font-size:16px;
  font-weight:bold;
  color:#4D4C4C;
}
.analysis-title-container .analysis-title:hover{
  color:#0572B8;
}

.analysis-content-check-pagination{
  padding-top: 30px;
  display: flex;
  justify-content: center;
}

.analysis-content-check-pagination button{
  outline: none;
  cursor: pointer;
  border: none;
  background-color: #fff;
}

.analysis-content-check{
  padding-bottom: 50px;
}

.analyse-spin{
  text-align: center;
  padding: 30px 50px;
  margin: 60px 0;
}
.analyse-box{
  display: flex;
}
.analyse_author{
  width: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: left;
}
.analyse_source{
  width: 80px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: left;
}
.analyse_author a,
.analyse_source a{
  color:#999999;
}
.analyse_jobname{
  text-align: right;
}
