.home-form{
  width: 100%;
  min-height: 445px;
  background: url("../../../images/home-form.png");
}

.home-form-center{
  width:1200px;
  margin:0 auto;
  display:flex;
  justify-content: space-between;
  position: relative;
}
.home-form-left,.home-form-right{
  margin:30px auto;
  width:580px;
}
.home-form-left .home-form-title,
.home-form-right .home-form-title{
  display: flex;
  justify-content: space-between;
}
.home-form-left .home-form-title .name-cn,
.home-form-right .home-form-title .name-cn{
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  margin-right:10px;
}

.home-form-left .home-form-title .name-en,
.home-form-right .home-form-title .name-en{
  font-size: 16px;
  font-weight: 500;
  color: #6399C4;
}
.home-form-left  .home-form-img,
.home-form-right  .home-form-img{
  text-align: left;
}
.home-form-left .home-form-title .home-form-more,
.home-form-right .home-form-title .home-form-more{
  color:#ffffff;
  font-size: 12px;
}
.home-form-left .home-form-title .home-form-more:hover,
.home-form-right .home-form-title .home-form-more:hover{
  color:#E2A558;
  cursor:pointer;
}
/*对比数据表格*/
.home-form-left-content{
  width:100%;
}
.home-form-left .home-form-left-content table {
  background-color: #ffffff;
  color: #232323;
  font-size: 14px;
  margin-top: 30px;
  border-width: 1px;
  border-collapse: collapse;
  width:100%;
}
/*.home-form-left .home-form-left-content table th {*/
  /*border:1px solid #ECEBE7;*/
  /*background-color: #F5F5F5;*/
  /*width:14%;*/
  /*font-weight: 400;*/
/*}*/
.home-form-left .home-form-left-content table tr{
  height:35px;
  line-height: 35px;
}
.home-form-left .home-form-left-content table td {
  border:1px solid #ECEBE7;
  background-color: #ffffff;
}
.home-form-left .home-form-left-content table td>a{
  color: #232323;
}
.home-form-left .home-form-left-content table tr td:first-child{
  background-color: #F5F5F5;
}

.home-form-left .home-form-left-content table tr:not(:first-child)>td:not(:first-child):hover{
  color:#ffffff;
  background-color: #6CD0D6;
  /*cursor:pointer;*/
}
.home-form-left .home-form-left-content table td:not(:first-child):hover a{
  color:#ffffff;
  /*cursor:pointer;*/
}
/*简报*/
.home-form-right .home-form-right-content{
  margin-top:30px;
  background-color: #ffffff;
  padding:10px 0;
  font-size:14px;
}
.home-form-right .home-form-right-content .home-form-right-single{
  border: 1px solid #E5E5E5;
  margin: 4px 15px;
  padding-left: 30px;
  display: flex;
  justify-content: flex-start;
  font-weight: 400;
  line-height: 39px;
}
.home-form-right .home-form-right-content .home-form-right-single i{
  width: 30px;
  height: auto;
  background: url("../../../images/brief-report-nocolor.png") no-repeat center;
}
.home-form-right .home-form-right-content .home-form-right-single:hover i {
  background: url("../../../images/brief-report.png") no-repeat center;
  cursor:pointer;
}
.home-form-right .home-form-right-content .home-form-right-single span{
  margin:0 20px;
}
.home-form-right .home-form-right-content .home-form-right-single span a{
  color:#595959;
}
.home-form-right .home-form-right-content .home-form-right-single:hover span,
.home-form-right .home-form-right-content .home-form-right-single:hover  span a{
  color:#086FBF;
  cursor:pointer;
}
.home-form-right .home-form-right-content .home-form-right-single{
  position: relative;
}
.home-form-right .home-form-right-content .home-form-right-single .paper {
  position:absolute;
  top: -9px;
  right: 2px;
  z-index: 9;
  font-size: 12px;
  color: #ffffff;
}
.home-form-right .home-form-right-content .home-form-right-single .paper b{
  color: #ffffff;
  z-index: 9;
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
}
.home-form-right .home-form-right-content .home-form-right-single .paper:after{
  content:'';
  width: 0;
  height: 0;
  border-top: 39px solid #EA6874;
  border-left: 50px solid transparent;
  position: absolute;
  top: 9px;
  right: -2px;
  z-index: 8;
}

.home-form-right .home-form-right-content .home-form-right-single .day:after{
  width: 0;
  height: 0;
  border-top: 39px solid #81C06D;
  border-left: 50px solid transparent;
}
.home-form-right .home-form-right-content .home-form-right-single .month:after{
  width: 0;
  height: 0;
  border-top: 39px solid #F1A544;
  border-left: 50px solid transparent;
}
.home-form-right .home-form-right-content .home-form-right-single .special:after{
  width: 0;
  height: 0;
  border-top: 39px solid #EA6874;
  border-left: 50px solid transparent;
}
.home-form-right .home-form-right-content .home-form-right-single .week:after{
  width: 0;
  height: 0;
  border-top: 39px solid #8BB1ED;
  border-left: 50px solid transparent;
}
.home-form-link{
  color:#383838;
}


