.search-content-center{
  width: 100%;
  margin-top: 20px;
  background-color: #F2F3F6;
}

.search-content-center button{
  width: 14.1%;
  height: 39px;
  cursor: pointer;
  font-weight:bold;
  line-height: 39px;
  outline: none;
  border: none;
  border-bottom: 1px solid #F2F3F6;
  background-color: transparent;
}

.search-content-center button:nth-of-type(1){
  border-bottom: 1px solid #0572B8;
  color: #0572B8;
}
