.topic-content-query {
  width: 100%;
}

.topic-content-query-class {
  padding: 20px 0 0;
}

.topic-content-query-class > div:nth-of-type(1) button {
  outline: none;
  border: none;
  line-height: 36px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  background-color: transparent;
}

.topic-content-query-class > div:nth-of-type(1) button:nth-of-type(1) {
  color: #0572B8;
}

.topic-content-query-class > span {
  color: #ddd;
}

.topic-content-query-class button i {
  margin-right: 5px;
}

.topic-content-query-class .ant-input-lg,
.topic-content-query-class .ant-btn-lg {
  font-size: 14px;
}

.topic-content-query-date span {
  padding: 0 10px;
  cursor: pointer;
}

.topic-content-query-date span:nth-of-type(1) {
  color: #0572B8;
}

.topic-content-query-date span:nth-of-type(2),
.topic-content-query-date span:nth-of-type(3) {
  border-left: 1px solid #000;
}

.topic-content-check-top-sort>div:nth-of-type(1){
  color: #2E2E2E;
  font-size: 16px;
  font-weight: bold;
}

.topic-content-check-top-result {
  color: #999999;
}

.topic-content-check-top-sort>div:nth-of-type(2) button{
  outline: none;
  cursor: pointer;
  border: none;
  background-color: #fff;
}

.topic-content-check-top-sort>div:nth-of-type(2) button i{
  color: #fff;
}

.topic-content-check-top-sort>div:nth-of-type(2) button:nth-of-type(1),
.topic-content-check-top-sort>div:nth-of-type(2) button:nth-of-type(1) i{
  color: #0572B8;
}

.topic-content-check-middle{
  margin-top: 20px;
}

.topic-content-check-middle-select p{
  margin-left: 20px;
}

.topic-content-check-middle-select button {
  outline: none;
  cursor: pointer;
  border: none;
  margin-left: 20px;
  color: #999999;
  background-color: #fff;
}

.topic-content-check-center{
  padding-top: 20px;
}
.topic-content-check-center .noList{
  margin:50px auto;
  display: block;
}
.topic-content-check-item-title>div:first-child:hover span{
  color:#0572B8;
}
.topic-content-left{
  width:700px;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  /*! autoprefixer: off */
  -webkit-box-orient: vertical;
}
.topic-content-check-item-text{
  margin-top: 20px;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /*! autoprefixer: off */
  -webkit-box-orient: vertical;
}
.topic-content-check-item-text a{
  color:#595959;
}
.topic-content-check-item-text .topic-detail{
  color:#595959;
}
.topic-content-check-item-text .topic-detail:hover{
  cursor: pointer;
}

.topic-content-check-item{
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #e5e5e5;
}
.topic-content-check-item-click .read-num:hover{
  cursor: default;
}
.topic-content-check-item:hover,
.topic-content-check-item:hover .topic-content-check-item-click button{
  background-color: #FBFBFB;
}
.topic-content-check-item .repeat-article:hover{
  color: orangered;
  cursor: pointer;
}
.topic-content-check-item .topic-content-title{
  margin:0 5px;
  font-size:16px;
  font-weight:bold;
  color:#4D4C4C;
}
.topic-content-check-item-title .topic-content-title-link>span{
  font-size:16px;
  font-weight:bold;
  color:#4D4C4C;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  /*! autoprefixer: off */
  -webkit-box-orient: vertical;
  width: 663px;
  float: left;
}
.topic-content-check-item-title:hover .topic-content-title-link>span{
  color:#0572B8;
}
.topic-content-check-item .topic-content-title:hover{
  cursor: pointer;
}
.topic-content-left a{
  color:#595959;
}
.topic-content-check-item-title .ant-checkbox-group>label:last-child{
  font-size:16px;
  font-weight:bold!important;
  color:#4D4C4C;
}

.topic-content-check-download button{
  outline: none;
  cursor: pointer;
  border: none;
  background-color: #fff;
}

.topic-content-check-item-bottom{
  margin-top: 28px;
  color: #999999;
}

.topic-content-check-item-bottom>div:nth-of-type(1) span:nth-of-type(3),
.topic-content-check-item-bottom>div:nth-of-type(1) span:nth-of-type(5),
.topic-content-check-item-bottom>div:nth-of-type(1) span:nth-of-type(7){
  margin-left: 20px;
}

.topic-content-check-item-click button{
  outline: none;
  cursor: pointer;
  border: none;
  background-color: #fff;
}

.topic-content-check-item-click button:nth-of-type(2){
  margin-left: 30px;
}

.topic-content-check-pagination{
  padding-top: 30px;
  display: flex;
  justify-content: center;
}

.topic-content-check-pagination button{
  outline: none;
  cursor: pointer;
  border: none;
  background-color: #fff;
}

.topic-content-check{
  margin-top: 20px;
  padding-bottom: 50px;
}

.topic-content-check-item .same-article-list-container{
  padding: 10px 5px 0;
  line-height: 2;
  border-top: 1px dotted #ddd;
  margin: 10px 0px;
}
.topic-content-check-item .same-article-list{
  margin-bottom: 0;
  padding: 5px 10px;
}
.topic-content-check-item .same-article-list li{
  display: flex;
  justify-content: space-between;
}
.topic-content-check-item .same-article-list li>span:first-child{
  width: 60%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  /*! autoprefixer: off */
  -webkit-box-orient: vertical;
}
.topic-content-check-item .same-article-list li>span:first-child>b{
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: #4783b7;
  margin-right: 10px;
}
.topic-content-check-item .same-article-list li>span:nth-child(2){
  width: 22.5%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  /*! autoprefixer: off */
  -webkit-box-orient: vertical;
}
.topic-content-check-item .same-article-list li>span:last-child{
  width: 22.5%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  /*! autoprefixer: off */
  -webkit-box-orient: vertical;
}
.topic-content-check-item .same-article-list li:hover span:first-child{
  color: #4783b7;
  text-decoration: underline;
  cursor: pointer;
}
.topic-content-check-item .ant-checkbox-group .ant-checkbox-group-item>span:nth-child(2){
  display: none;
}
