.analysis-content-wrap{
  width: 100%;
  padding-top: 40px;
  background-color: #f0f0f0;
  min-height: 500px;
}

.analysis-content {
  width: 1152px;
  margin: 0 auto;
}

.analysis-content-main {
  width: 665px;
  padding:0 10px;
  background-color: #ffffff;
}
.analysis-content-left-container{
  background-color: #ffffff;
}
.analysis-content-chart{
  width: 330px;
  background-color: #ffffff;
}
.analysis-content-slider {
  width: 140px;
  background-color: #ffffff;
}

.analysis-content-topic {
  padding-bottom: 25px;
}

.analysis-content-topic span {
  color: #3D6883;
  font-size: 20px;
}

.analysis-content-topic h2 {
  color: #333333;
}

.analysis-content-topic li {
  font-size: 16px;
  color: #555555;
}

.analysis-content-slider .menu {
  width:140px;
  border-top: 2px solid #0572B8;
  border-bottom: 2px solid #0572B8
}

.analysis-content-slider .ant-menu-item {
  border-bottom: 1px dashed #F0F0F0;
  height: 52px;
  width: 100%;
}

