.home{
  text-align: center;
}
::-webkit-scrollbar-track-piece {
  background-color: #fff; /*滚动条的背景颜色*/
  -webkit-border-radius: 0; /*滚动条的圆角宽度*/
}
::-webkit-scrollbar {
  width: 8px; /*滚动条的宽度*/
  height: 8px; /*滚动条的高度*/
}
::-webkit-scrollbar-thumb:vertical { /*垂直滚动条的样式*/
  height: 50px;
  background-color: #999;
  -webkit-border-radius: 4px;
  outline: 2px solid #fff;
  outline-offset: -2px;
  border: 2px solid #fff;
}
::-webkit-scrollbar-thumb:hover { /*滚动条的hover样式*/
  height: 50px;
  background-color: #9f9f9f;
  -webkit-border-radius: 4px;
}

.home-carousel{
  position: relative;
  margin-left:-10px;
}
.home-title{
  width:550px;
  height:124px;
  background-color: #F9F9F9;
  opacity:0.12;
  position: absolute;
  top: 32%;
  left: 15%;
}

.home-title .home-name{
  width:410px;
  height:33px;
  font-size:34px;
  font-family:SourceHanSansCN-Regular;
  font-weight:bold;
  color:rgba(255,255,255,1);
  line-height:61px;
  text-shadow:0px 7px 15px rgba(21,36,48,0.24);
}
.home-title .home-subName{
  width:428px;
  height:10px;
  font-size:12px;
  font-family:Lato-Medium;
  font-weight:500;
  color:rgba(255,255,255,1);
  line-height:61px;
  opacity:0.56;
}
