.hot-tabs-content{
  width: 1152px;
  margin: 0 auto;
  padding-bottom: 50px;
}
.hot-tabs-content-title{
  padding: 50px 0 28px;
  font-size: 14px;
  font-weight:400;
}

.hot-tabs-content-title>i {
  font-size: 16px;
  color: #0572B8;
  font-weight: bold;
}

.hot-tabs-content-title>span:nth-of-type(3){
  margin-left: 15px;
}

.hot-tabs-btn{
  width: 100%;
  height: 38px;
  line-height: 38px;
  text-align: center;
  display: flex;
  background-color: #F2F3F6;
}
.tabs-spin{
  text-align: center;
  padding: 100px 50px;
  margin: 20px 0;
}

.hot-tabs-btn>button{
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
}

.hot-tabs-btn>button:nth-of-type(1){
  color: #0572B8;
  border-bottom: 1px solid #0572B8;
}

.hot-tabs-center{
  margin-top: 24px;
  width: 100%;
}
.hot-tabs-center .noList{
  margin:70px auto;
  display: block;
}
.hot-tabs-center>div:not(:first-child) {
  margin-top: 20px;
}

.hot-tabs-list-title{
  font-size: 16px;
  font-weight: bold;
  color: #4D4C4C;
}

.hot-tabs-list-title:hover{
 color:#0572B8;
  cursor: pointer;
}
.hot-tabs-list{
  padding: 20px;
  border: 1px solid #e5e5e5;
}
.hot-tabs-list:hover,
.hot-tabs-list:hover .hot-tabs-list-bottom button{
  background-color: #FBFBFB;
}
.hot-tabs-list-text,
.hot-tabs-list-bottom{
  margin-top: 15px;
  font-size: 14px;
}
.hot-tabs-list-text{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /*! autoprefixer: off */
  -webkit-box-orient: vertical;
  cursor: pointer;
}
.tab-content-title-link{
  color:#585858;
}

.hot-tabs-list-bottom>div:nth-of-type(1) span:nth-of-type(1),
.hot-tabs-list-bottom>div:nth-of-type(1) span:nth-of-type(2){
  color: #999999;
}

.hot-tabs-list-bottom>div:nth-of-type(1) span:nth-of-type(3),
.hot-tabs-list-bottom>div:nth-of-type(1) span:nth-of-type(5),
.hot-tabs-list-bottom>div:nth-of-type(1) span:nth-of-type(7),
.hot-tabs-list-bottom>div:nth-of-type(1) span:nth-of-type(9){
  margin-left: 15px;
  color:#999999;
}

.hot-tabs-list-bottom>div:nth-of-type(1) span:nth-of-type(4),
.hot-tabs-list-bottom>div:nth-of-type(1) span:nth-of-type(6),
.hot-tabs-list-bottom>div:nth-of-type(1) span:nth-of-type(8){
  /*color: #F43D3D;*/
  color: #999999;
}

.hot-tabs-list-bottom>div:nth-of-type(2) button{
  outline: none;
  cursor: pointer;
  border: none;
  background-color: #fff;
}

.hot-tabs-list-bottom>div:nth-of-type(2) button:nth-of-type(2){
  margin-left: 30px;
}
.hot-tabs-center-pagination{
  padding-top: 30px;
  display: flex;
  justify-content: center;
}
.tabs_address{
  width: 160px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: left;
}
.tabs_source{
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: left;
  cursor: default;
}
.tabs_address a,
.tabs_source a{
  color:#999999;
  cursor: default;
}
.tabs-box{
  display: flex;
}

.hot-tabs-list span{
  font-size: 14px !important;
  display: inline;
  font-weight: normal!important;
}
.hot-tabs-list p{
  margin-top: 20px;
}
.hot-tabs-list-bottom .read-num:hover{
  cursor: default;
}

