.home-doc {
  width: 100%;
  /*min-height: 1010px;*/
  min-height: 658px;
  background: #F9F9F9;
}

.home-doc-title {
  padding: 40px 0 30px;
}

.home-doc-top {
  font-size: 20px;
  color: #232323;
}

.home-doc-top > span {
  margin: 0 5px;
}

.home-doc-title > span {
  color: #959B9F;
}

.home-doc-content {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.home-doc-content-top,
.home-doc-content-bottom {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.home-doc-content-top .home-doc-auth,
.home-doc-content-top .home-doc-topic {
  width: 585px;
  height: 330px;
  border: 1px solid #E3EAEC;
  background-color: #ffffff;
}

.home-doc-auth .ant-table-placeholder{
  display: none;
}
.home-doc-auth .num,
.home-doc-auth .org{
  cursor: default;
}

.home-doc-content-top .home-doc-auth .top-title,
.home-doc-content-top .home-doc-topic .top-title {
  background-color: #E8F1F5;
  color: #232323;
  font-weight: bold;
  font-size: 18px;
  border-bottom: 1px solid #D6E1E5;
  padding: 15px 25px;
  text-align: left;
}

.home-doc-auth .ant-table-small > .ant-table-content > .ant-table-body {
  margin: 0;
  height: 270px;
}

.home-doc-auth .ant-table-pagination.ant-pagination {
  visibility: hidden;
}

.home-doc-auth .ant-table-thead > tr, .ant-table-tbody > tr {
  color: #364347;
}

.home-doc-auth .ant-table-thead > tr, .ant-table-tbody > tr:hover {
  color: #086FBF;
  font-weight: 400;
  cursor:pointer;
}

.home-doc-auth .ant-table-tbody > tr:hover > td {
  background: #ffffff;
}

.home-doc-auth .ant-table-thead > tr, .ant-table-tbody > tr > td > a {
  color: #364347;
}

.home-doc-auth .ant-table-tbody > tr:hover > td > a {
  color: #086FBF;
  text-decoration: underline;
  font-weight: 400;
}

/*图表和作者*/

/*热词*/
.home-doc-content-middle {
  display: flex;
  width: 100%;
}

.home-doc-content-middle .hot-word {
  display: flex;
  border: 1px solid #ECECEC;
  padding: 25px 15px;
  margin: 25px 0;
}

.home-doc-content-middle .hot-word .hot-word-title {
  color: #232323;
  font-size: 18px;
  margin-right: 20px;
}

.home-doc-content-middle .hot-word .hot-word-content {
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  font-size: 15px;
}

.home-doc-content-middle .hot-word .hot-word-content span {
  justify-content: center;
  align-content: center;
  margin: 0 7px;
  padding: 6px 30px;
  /*background-color: #8BB1ED;*/
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 162px;
  height: 35px;
}

/*热词*/

/*文献最新和推荐*/
.home-doc-content-bottom .home-doc-list,
.home-doc-content-bottom .home-doc-list {
  width: 585px;
  height: 380px;
  border: 1px solid #E3EAEC;
  background-color: #ffffff;
}

.home-doc-content-bottom .home-doc-list .bottom-title {
  margin: 20px 25px;
  display: flex;
  justify-content: space-between;
}

.home-doc-content-bottom .home-doc-list .bottom-title .bottom-mainheading {
  color: #232323;
  font-size: 18px;
  border-left: 5px solid #EEBD08;
  padding: 0 10px;
}

.home-doc-content-bottom .home-doc-list .bottom-title .bottom-subhead span {
  margin: 0 5px;
}
.bottom-subhead button {
  outline: none;
  border: none;
  line-height: 36px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  background-color: transparent;
}

.bottom-subhead button:first-child{
  color: #086FBF;
}

.home-doc-center-left,
.home-doc-center-right {
  width: 100%;
  padding: 0 25px 25px 25px;
}

.home-doc-center-item:hover a {
  font-weight: 400;
}

.home-doc-center-item a:hover p,
.home-doc-center-item:hover p,
.home-doc-center-item:hover span {
  color: #086FBF;
}

.home-doc-center-item a {
  display: flex;
  height: 35px;
  line-height: 35px;
  color: #888887;
  font-size: 12px;
}

.home-doc-center-item:not(:first-child),
.home-doc-center-item:not(:last-child) {
  border-bottom: 1px dotted #888887;
}

.home-doc-center-item:first-child {
  border-top: 2px solid #888887;
  border-bottom: 2px solid #888887;
  height: 80px;
}

.home-doc-center-item:last-child {
  border: none;
}

.home-doc-center-item p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #3F3B3A;
  font-size: 14px;
  padding-left: 10px;
  width: 410px;
  text-align: left;
}

.home-doc-center-item:first-child p {
  font-size: 16px;
  font-weight: bold;
  width: 100%;
}

.home-doc-center-item .home-doc-center-item-first {
  display: flex;
  margin-top: 10px;
  justify-content: flex-start;
}

.home-doc-center-item .home-doc-center-item-first > span {
  color: #888887;
  font-size: 12px;
  margin-right: 20px;
  width: 172px;
  overflow: hidden;
  text-overflow: ellipsis;
  /*! autoprefixer: off */
  -webkit-box-orient: vertical;
  text-align: left;
  white-space: nowrap;
}

.home-doc-center-item span {
  display: block;
  text-align: right;
  width: 100px;
}

.home-doc-center-item img {
  width: 6px;
  height: 9px;
  margin-top: 10px;
  display: block;
}

.home-doc-more {
  width: 100%;
  height: 35px;
  color: #959B9F;
  line-height: 35px;
  text-align: right;
  font-size: 12px;
}

.home-doc-more:hover {
  color: #E2A558;
  cursor:pointer;
}

